body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color:  seashell;
}
main {
  flex: 1;
}
footer {
  padding: 1.5rem 0;
  background-color: #f8f9fa;
  border-top: 1px solid #e9ecef;
}